*{
    padding: 0;
    margin: 0;
}

header{
    height: 800px;
    background-image: url("../img/me.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;

}
.navbar-brand{
    color:white;
    font-family: 'Black Ops One', cursive;
    font-size: 35px;
}
.navbar-text{
    font-family: 'Roboto', sans-serif;
    color:white;
    padding-right: 2%;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.header-right-text{
    color:white;
    font-family: 'Roboto', sans-serif; 
    padding-top: 5%;
    
}

.header-right-text h1{
   font-weight: 700;
   font-size: 50px;
}

.header-right-text h6{
   font-weight: 700;
   font-size: 18px;
   padding-top: 2%;
} 
.header-text-mobile{
  display: none;
  text-align: center;
}

.header-text-mobile h1{
    font-weight: 700;
    font-size: 32px;
 }
 

.about-section h1{
  color:#545454;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.about-section p{
    color:#a6a6a6;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-top: 1%;
  }

  .portfolio{
      text-align: center;
      padding-top: 5%;
      padding-bottom: 5%;
  }
  .portfolio h1{
      padding-top: 2%;
      padding-bottom: 2%;
      color:#545454;
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      font-size: 35px;
  
    }

   .side-bar {
    background-color:#efefef;
    padding: 1%;
    }
    .card{
        padding:1%;
    }
    .card img{
        width: 25%;
    }
    .card h6{
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color:#a6a6a6;

    }
    .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
     }
.portfolio-item{
    height: 250px;
    background:#efefef ;
}

.contact {
    padding: 5%;
    background: #5271ff;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.contact h1{
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      font-size: 35px;
}
.contact h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding-top: 1%;
}

.btn {
    color:#5271ff;
    background: white;
    width: 20%;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding-top: 1%;
}

footer{
    padding-top: 5%;
    background: #5271ff;
    color: white;
    font-family: 'Roboto', sans-serif;
}
footer .container{
    padding-top: 7%;
}
footer h1{
    font-family: 'Black Ops One', cursive;
    bottom:0;margin: 0;
}
footer h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

footer .bottom{
    padding-top: 5;
}
footer .bottom-logo{
    font-family: 'Black Ops One', cursive; 
    padding-bottom: 4%;
}
.social{
    padding: 5% 0%;
}
.social a{
    color:white;
    margin: 1%;
    font-size: 30px;
}
/* font-family: 'Black Ops One', cursive;
    font-family: 'Roboto', sans-serif; */
    @media only screen and (max-width: 1024px) {
        header{
            height: 600px;
        }
    }
    @media only screen and (max-width: 992px) {
        header{
            height: 500px;
        }
        .navbar-brand{
            font-size: 30px;
        }
        .header-right-text{
          padding-top: 0%;
            
        }
        
        .header-right-text h1{
           font-size: 250%;
        }
        
        .header-right-text h6{
           font-size: 15px;
           padding-top: 1%;
        } 

    }

    @media only screen and (max-width: 768px) {
        header{
            height: 425px;
        }
        .navbar-brand{
            font-size: 25px;
        }
        .header-right-text h1{
            font-size: 200%;
         }
         
         .header-right-text h6{
            font-size: 13px;
            padding-top: 1%;
         } 
         .header-text-mobile h1{
             font-size: 25px;
         }
         .about-section h1{
            font-size: 30px;
            
          }
         .about-section p{
            font-size: 15px;
            
          }
    }

    @media only screen and (max-width: 600px) {
        header{
            height: 300px;
        }
        
        .header-right-text {
            display: none;
         }
         
         .header-text-mobile{
            display: block;
          }
        .portfolio h1{
         padding-top: 0;  
        }
         .btn {
             width: 40%;
         }
         .card img{
            width: 17%;
        }
    }

    @media only screen and (max-width: 500px) {
        header{
            height: 230px;
        }
        .navbar-brand{
            font-size: 20px;
        }
        
         .about-section h1{
            font-size: 25px;
            
          }
         .about-section p{
            font-size: 12px;
            
          }
    }

    @media only screen and (max-width: 400px) {
        header{
            height: 200px;
        }
        .navbar-brand{
            font-size: 15px;
        }
       
         .about-section h1{
            font-size: 22px;
            
          }
         .about-section p{
            font-size: 10px;
            
          }
    }

    @media only screen and (max-width: 340px) {
       
        .navbar-brand{
            font-size: 12px;
        }
        
         .about-section h1{
            font-size: 22px;
            
          }
         .about-section p{
            font-size: 10px;
            
          }
    }